@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";


body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0%;
background-image: url("../images/background-desert.png");
background-color: black;
min-height: calc(100vh - 60px);

/* height: 100vh; */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
/* background-size: cover; */
/* background-color: black; */
}
h1 {
  font-weight: bold;
  text-transform: uppercase;
}
footer {
  background-color: black;
  min-width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0px;
}
/* ID list below */
#george-gaming {
  /* Because, you know... I am from LA. */
  background-color: dodgerblue;

}

#myChart {
    background-color:#fff;
}
/* Class list below */
.image-avatar {
  display: block;
  width: 150px;
  padding: 0px auto;
  border: 8px solid #000080;
  border-radius: 50%;
}
#ag-log {
 width: 100%;
 background-color: black;
 padding: 1rem;
 display: block;
}
.cls2 {
  display: none;
}

.text-background {
  padding: 0.5rem;
  /* background-color: black; */
}
.text {
  margin-bottom:4rem;
}

/* thumbnail */



/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/

 .container {
    width: 100%;
    margin: 0px auto;
 }
 
 * {
    box-sizing: border-box;
  }
  .row {
    max-width: 1000px;
    padding-left:20px;
    padding-right:20px;
    margin:0 auto;
  }
  
  /* Clearfix */
  .row::before, .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }
  
  .col-3, .col-4, .col-6, .col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  
  /* Mobile defaults */
  .col-3, col-4, .col-6, .col-12 {
    width: 100%;
  }
  
  /* Non-mobile, grid */
  @media only screen and (min-width: 640px){
    .slideshow-container {width: 100%; min-height: 60vh;}

    .container {
      width: 960px;
    }
    .col-4 {
      width: 25%;
    }
    .col-3 {
      width: 33.33%;
    }
    .col-6 {
      width: 50%;
    }
    .col-12 {
      width: 100%;
    }
    
  }