
html, body {
  max-height: 100%;
}
body {

  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0%;
background-color: black;
padding-bottom: 60px;
/* height: 100vh; */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
/* background-size: cover; */
/* background-color: black; */
}

body::after {
  content: "";
  background-image: url("../images/background-desert.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

/* ID list below */
#george-gaming {
  /* Because, you know... I am from LA. */
  background-color: dodgerblue;

}

/* Class list below */
.image-avatar {
  display: block;
  width: 150px;
  padding: 0px auto;
  border: 8px solid #000080;
  border-radius: 50%;
}

#ag-log-desktop {
  display: none;
}
#ag-log {
 width: 250px;
 background-color: black;
 padding: 1rem;
 float: left;
 display: block;
}
#cls2 {
  display: none;
}

.text-background {
  padding: 0.5rem;
  /* background-color: black; */
}
.text {
  margin-bottom:4rem;
}

/* thumbnail */
.title-games {
  max-width: 100%;
}


/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 footer {
  background-color: black;
padding: 2rem;
width: 100%;
}
 .container {
    max-width: 100%;
    min-height: 100%;
    margin: 0px auto;
 }
 main {
   overflow: auto;
   padding-top: 10%;
   padding-bottom: 10%;
  }
 * {
    box-sizing: border-box;
  }
  .row {
    max-width: 1000px;
    padding-left:20px;
    padding-right:20px;
    margin:0 auto;
  }
  
  /* Clearfix */
  .row::before, .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }
  
  .col-3, .col-4, .col-6, .col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  
  /* Mobile defaults */
  .col-3, col-4, .col-6, .col-12 {
    width: 100%;
  }
  
  /* Non-mobile, grid */
  @media only screen and (min-width: 640px){
    footer {
      margin-bottom:0px; 
    }
    #ag-log {width:250px;}

    .container {
      width: 960px;
    }
    .col-4 {
      width: 25%;
    }
    .col-3 {
      width: 33.33%;
    }
    .col-6 {
      width: 50%;
    }
    .col-12 {
      width: 100%;
    }
    
  }